<footer>
  <div class="container footer">
    <div class="row justify-content-between">
      <div class="col-md-5">
        logo 1
        logo fci
      </div>
      <div class="col-md-5">
        <h5>¿QUIÉNES SOMOS?</h5>
        <p>Somos organizaciones que nos dedicamos a promover la participación ciudadana y el uso de información pública. Con “CuántoHemosDonado.Mx” queremos contribuir a lograr los cambios necesarios para tener una política de prevención y atención a desastres que salve vidas y evite más daños catastróficos a las familias mexicanas.</p>
        <p><a href="#">contacto@cuantohemosdonado.mx</a></p>
      </div>
    </div>
  </div>
</footer>
