<div class="container">
  <nav class="navbar navbar-expand-lg float-right">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="{{ site.baseurl }}/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary btn-sm" href="{{ site.baseurl}}que-donaste">¿Qué donaste?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl}}ayudanos">Ayúdanos</a>
      </li>
    </ul>
  </nav>
</div>
