  <h1>¡Gracias por tu donación!</h1>
  <h2>Ahora ayúdanos a correr la voz</h2>
  Impulsemos esta discusión en línea exigiéndoles a nuestros gobernates soluciones para los damnificados y una mejor prevención. Estamos seguros que con tu ayuda lograremos los cambios urgentes que necesitamos.

  <h3>1. Muestra tu apoyo a esta campaña de por las redes</h3>
  <div class="row">
    <div class="col-md-5">
      <img src="{{ site.baseurl }}/img/sticker.png" alt="" class="img-fluid">
    </div>
    <div class="col-md-7">
      <ul class="list-inline">
        <li class="list-inline-item">
          <!-- Btn twitter -->
          <a class="twitter-share-button btn btn-default"  target="_blank" href="https://twitter.com/intent/tweet?text=Yo%20ya%20doné.%20Ahora%20exijo%20una%20mejor%20prevención.%20Para%20saber%20más,%20visita:&url=https%3A%2F%2Fcuantohemosdonado.mx">Tweet <i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li class="list-inline-item">
          <!-- Btn facebook -->
          <!-- Load Facebook SDK for JavaScript -->
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
          <!-- Your share button code -->
          <div class="fb-share-button" data-href="https://ciudadanointeligente.org/cuantohemosdonado/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fciudadanointeligente.org%2Fcuantohemosdonado%2F&amp;src=sdkpreparse">Compartir</a></div>
        </li>
      </ul>
    </div>
  </div>

  <h3>2. ¡Ahora exígeles a tus gobernantes y legisladores!</h3>

<ul class="list-unstyled">
  <li>
    <img src="{{ site.baseurl }}img/fotos/EPN.jpg" class="img-responsive rounded-circle photo" alt="">
    Exígele a el Presidente de México, Enrique Peña Nieto
    <a class="twitter-share-button btn btn-default"  target="_blank" href="https://twitter.com/intent/tweet?text=@EPN%20Yo%20ya%20doné.%20Ahora%20exijo%20soluciones%20para%20los%20damnificados%20y%20prevención%20para%20el%20futuro.%20Conoce%20más%20en&url=https%3A%2F%2Fcuantohemosdonado.mx">Tweet <i class="fa fa-twitter" aria-hidden="true"></i></a>
  </li>
  <li>
    <img src="{{ site.baseurl }}img/fotos/ManceraMiguelMX.jpg" class="img-responsive rounded-circle photo" alt="">Exígele a Miguel Mancera, Jefe de Gobierno de la Ciudad de Mexico
    <a class="twitter-share-button btn btn-default" target="_blank" href="https://twitter.com/intent/tweet?text=@ManceraMiguelMX%20Yo%20ya%20doné.%20Ahora%20exijo%20soluciones%20para%20los%20damnificados%20y%20prevención%20para%20el%20futuro.%20Conoce%20más%20en&url=https%3A%2F%2Fcuantohemosdonado.mx">Tweet <i class="fa fa-twitter" aria-hidden="true"></i></a>
  </li>
  <li>
    <img src="{{ site.baseurl }}img/fotos/gracoramirez.jpg" class="img-responsive rounded-circle photo" alt="">
    Exígele a Graco Ramírez, Gobernador del Estado de Morelos
    <a class="twitter-share-button btn btn-default" target="_blank" href="https://twitter.com/intent/tweet?text=@gracoramirez%20Yo%20ya%20doné.%20Ahora%20exijo%20soluciones%20para%20los%20damnificados%20y%20prevención%20para%20el%20futuro.%20Conoce%20más%20en&url=https%3A%2F%2Fcuantohemosdonado.mx">Tweet <i class="fa fa-twitter" aria-hidden="true"></i></a>
  </li>
  <li>
    <img src="{{ site.baseurl }}img/fotos/TonyGali.jpg" class="img-responsive rounded-circle photo" alt="">
    Exígele a Tony Gali, Gobernador del Estado de Puebla
    <a class="twitter-share-button btn btn-default" target="_blank" href="https://twitter.com/intent/tweet?text=@TonyGali%20Yo%20ya%20doné.%20Ahora%20exijo%20soluciones%20para%20los%20damnificados%20y%20prevención%20para%20el%20futuro.%20Conoce%20más%20en&url=https%3A%2F%2Fcuantohemosdonado.mx">Tweet <i class="fa fa-twitter" aria-hidden="true"></i></a>
  </li>
  <li>
    <img src="{{ site.baseurl }}img/fotos/VelascoM.jpg" class="img-responsive rounded-circle photo" alt="">
    Exígele a Manuel Velasco, Gobernador del Estado de Chiapas
    <a class="twitter-share-button btn btn-default" target="_blank" href="https://twitter.com/intent/tweet?text=@VelascoM_%20Yo%20ya%20doné.%20Ahora%20exijo%20soluciones%20para%20los%20damnificados%20y%20prevención%20para%20el%20futuro.%20Conoce%20más%20en&url=https%3A%2F%2Fcuantohemosdonado.mx">Tweet <i class="fa fa-twitter" aria-hidden="true"></i></a>
  </li>
  <li>
    <img src="{{ site.baseurl }}img/fotos/alejandromurat.jpg" class="img-responsive rounded-circle photo" alt="">
    Exígele a Alejandro Murat, Gobernador de Oaxaca
    <a class="twitter-share-button btn btn-default" target="_blank" href="https://twitter.com/intent/tweet?text=@alejandromurat%20Yo%20ya%20doné.%20Ahora%20exijo%20soluciones%20para%20los%20damnificados%20y%20prevención%20para%20el%20futuro.%20Conoce%20más%20en&url=https%3A%2F%2Fcuantohemosdonado.mx">Tweet <i class="fa fa-twitter" aria-hidden="true"></i></a>
  </li>
  <li>
    <img src="{{ site.baseurl }}img/fotos/rocionahle.jpg" class="img-responsive rounded-circle photo" alt="">
    Exígele a Rocio Nahle, Coordinadora de Morena
    <a class="twitter-share-button btn btn-default" target="_blank" href="https://twitter.com/intent/tweet?text=@rocionahle%20Yo%20ya%20doné.%20Ahora%20exijo%20soluciones%20para%20los%20damnificados%20y%20prevención%20para%20el%20futuro.%20Conoce%20más%20en&url=https%3A%2F%2Fcuantohemosdonado.mx">Tweet <i class="fa fa-twitter" aria-hidden="true"></i></a>
  </li>
  <li>
    <img src="{{ site.baseurl }}img/fotos/MarkoCortes.jpg" class="img-responsive rounded-circle photo" alt="">
    Exígele a Marko Cortés, Coordinador del PAN
    <a class="twitter-share-button btn btn-default" target="_blank" href="https://twitter.com/intent/tweet?text=@MarkoCortes%20Yo%20ya%20doné.%20Ahora%20exijo%20soluciones%20para%20los%20damnificados%20y%20prevención%20para%20el%20futuro.%20Conoce%20más%20en&url=https%3A%2F%2Fcuantohemosdonado.mx">Tweet <i class="fa fa-twitter" aria-hidden="true"></i></a>
  </li>
  <li>
    <img src="{{ site.baseurl }}img/fotos/CCQ_PRI.jpg" class="img-responsive rounded-circle photo" alt="">
    Exígele a César Camacho, Coordinador del PRI
    <a class="twitter-share-button btn btn-default" target="_blank" href="https://twitter.com/intent/tweet?text=@CCQ_PRI%20Yo%20ya%20doné.%20Ahora%20exijo%20soluciones%20para%20los%20damnificados%20y%20prevención%20para%20el%20futuro.%20Conoce%20más%20en&url=https%3A%2F%2Fcuantohemosdonado.mx">Tweet <i class="fa fa-twitter" aria-hidden="true"></i></a>
  </li>
  <li>
    <img src="{{ site.baseurl }}img/fotos/ClementeCH.jpg" class="img-responsive rounded-circle photo" alt="">
    Exígele a Clemente Castañeda, Coordinador de MC
    <a class="twitter-share-button btn btn-default" target="_blank" href="https://twitter.com/intent/tweet?text=@ClementeCH%20Yo%20ya%20doné.%20Ahora%20exijo%20soluciones%20para%20los%20damnificados%20y%20prevención%20para%20el%20futuro.%20Conoce%20más%20en&url=https%3A%2F%2Fcuantohemosdonado.mx">Tweet <i class="fa fa-twitter" aria-hidden="true"></i></a>
  </li>
  <li>
    <img src="{{ site.baseurl }}img/fotos/Jesus_Zambrano.jpg" class="img-responsive rounded-circle photo" alt="">
    Exígele a Jesús Zambrano‏, Coordinador del PRD
    <a class="twitter-share-button btn btn-default" target="_blank" href="https://twitter.com/intent/tweet?text=@Jesus_ZambranoG%20Yo%20ya%20doné.%20Ahora%20exijo%20soluciones%20para%20los%20damnificados%20y%20prevención%20para%20el%20futuro.%20Conoce%20más%20en&url=https%3A%2F%2Fcuantohemosdonado.mx">Tweet <i class="fa fa-twitter" aria-hidden="true"></i></a>
  </li>
</ul>
