  <h1>Ayúdanos</h1>
  La solidaridad y la ayuda son maravillosas. Estimar cuánto nos cuesta reaccionar a los desastres a causa de fenómenos naturales sirve para demostrar su impacto real y para hacer conciencia. Muchas gracias, estamos seguros que con tu ayuda lograremos los cambios urgentes que necesitamos.

  <div class="row first-row box">
    <div class="col-md-5">
      <img src="{{ site.baseurl }}/img/sticker.png" alt="" class="img-fluid">
    </div>
    <div class="col-md-7">
      <h3>Muestra tu apoyo a esta campaña compartiendo por las redes!</h3>
      <!-- Btn twitter -->
      <a class="twitter-share-button btn btn-default"  target="_blank" href="https://twitter.com/intent/tweet?text=Yo%20ya%20doné.%20Ahora%20exijo%20una%20mejor%20prevención.%20Para%20saber%20más,%20visita:&url=https%3A%2F%2Fcuantohemosdonado.mx">Tweet</a>
      <!-- Btn facebook -->
      <!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <!-- Your share button code -->
      <div class="fb-share-button" data-href="https://ciudadanointeligente.org/cuantohemosdonado/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fciudadanointeligente.org%2Fcuantohemosdonado%2F&amp;src=sdkpreparse">Compartir</a></div>
    </div>
  </div>

  <h3>O si prefieres escribe directamente a tus gobernantes</h3>
  <div class="row first-row">
      <div class="box col-md-6">
        <h5>Enrique Peña Nieto</h5>
        <p class="detail">Mexico</p>
        <a class="twitter-share-button btn btn-default"  target="_blank" href="https://twitter.com/intent/tweet?text=@EPN%20Yo%20ya%20doné.%20Ahora%20exijo%20soluciones%20para%20los%20damnificados%20y%20prevención%20para%20el%20futuro.%20Conoce%20más%20en&url=https%3A%2F%2Fcuantohemosdonado.mx">Tweet</a>
      </div>
      <div class="box col-md-6">
        <h5>Miguel Mancera</h5>
        <p class="detail">Ciudad de Mexico</p>
        <a class="twitter-share-button btn btn-default" target="_blank" href="https://twitter.com/intent/tweet?text=@ManceraMiguelMX%20Yo%20ya%20doné.%20Ahora%20exijo%20soluciones%20para%20los%20damnificados%20y%20prevención%20para%20el%20futuro.%20Conoce%20más%20en&url=https%3A%2F%2Fcuantohemosdonado.mx">Tweet</a>
      </div>
  </div>
  <div class="row">
    <div class="box col-md-6">
      <h5>Graco Ramírez</h5>
      <p class="detail">Morelos</p>
      <a class="twitter-share-button btn btn-default" target="_blank" href="https://twitter.com/intent/tweet?text=@gracoramirez%20Yo%20ya%20doné.%20Ahora%20exijo%20soluciones%20para%20los%20damnificados%20y%20prevención%20para%20el%20futuro.%20Conoce%20más%20en&url=https%3A%2F%2Fcuantohemosdonado.mx">Tweet</a>
    </div>
    <div class="box col-md-6">
      <h5>Tony Gali</h5>
      <p class="detail">Puebla</p>
      <a class="twitter-share-button btn btn-default" target="_blank" href="https://twitter.com/intent/tweet?text=@TonyGali%20Yo%20ya%20doné.%20Ahora%20exijo%20soluciones%20para%20los%20damnificados%20y%20prevención%20para%20el%20futuro.%20Conoce%20más%20en&url=https%3A%2F%2Fcuantohemosdonado.mx">Tweet</a>
    </div>
  </div>
  <div class="row">
    <div class="box col-md-6">
      <h5>Manuel Velasco</h5>
      <p class="detail">Chiapas</p>
      <a class="twitter-share-button btn btn-default" target="_blank" href="https://twitter.com/intent/tweet?text=@VelascoM_%20Yo%20ya%20doné.%20Ahora%20exijo%20soluciones%20para%20los%20damnificados%20y%20prevención%20para%20el%20futuro.%20Conoce%20más%20en&url=https%3A%2F%2Fcuantohemosdonado.mx">Tweet</a>
    </div>
    <div class="box col-md-6">
      <h5>Alejandro Murat</h5>
      <p class="detail">Oaxaca</p>
      <a class="twitter-share-button btn btn-default" target="_blank" href="https://twitter.com/intent/tweet?text=@alejandromurat%20Yo%20ya%20doné.%20Ahora%20exijo%20soluciones%20para%20los%20damnificados%20y%20prevención%20para%20el%20futuro.%20Conoce%20más%20en&url=https%3A%2F%2Fcuantohemosdonado.mx">Tweet</a>
    </div>
  </div>
  <div class="row">
    <div class="box col-md-6">
      <h5>Rocio Nahle</h5>
      <p class="detail">Morena</p>
      <a class="twitter-share-button btn btn-default" target="_blank" href="https://twitter.com/intent/tweet?text=@rocionahle%20Yo%20ya%20doné.%20Ahora%20exijo%20soluciones%20para%20los%20damnificados%20y%20prevención%20para%20el%20futuro.%20Conoce%20más%20en&url=https%3A%2F%2Fcuantohemosdonado.mx">Tweet</a>
    </div>
    <div class="box col-md-6">
      <h5>Marko Cortés</h5>
      <p class="detail">PAN</p>
      <a class="twitter-share-button btn btn-default" target="_blank" href="https://twitter.com/intent/tweet?text=@MarkoCortes%20Yo%20ya%20doné.%20Ahora%20exijo%20soluciones%20para%20los%20damnificados%20y%20prevención%20para%20el%20futuro.%20Conoce%20más%20en&url=https%3A%2F%2Fcuantohemosdonado.mx">Tweet</a>
    </div>
  </div>
  <div class="row">
    <div class="box col-md-6">
      <h5>César Camacho</h5>
      <p class="detail">PRI</p>
      <a class="twitter-share-button btn btn-default" target="_blank" href="https://twitter.com/intent/tweet?text=@CCQ_PRI%20Yo%20ya%20doné.%20Ahora%20exijo%20soluciones%20para%20los%20damnificados%20y%20prevención%20para%20el%20futuro.%20Conoce%20más%20en&url=https%3A%2F%2Fcuantohemosdonado.mx">Tweet</a>
    </div>
    <div class="box col-md-6">
      <h5>Clemente Castañeda</h5>
      <p class="detail">MC</p>
      <a class="twitter-share-button btn btn-default" target="_blank" href="https://twitter.com/intent/tweet?text=@ClementeCH%20Yo%20ya%20doné.%20Ahora%20exijo%20soluciones%20para%20los%20damnificados%20y%20prevención%20para%20el%20futuro.%20Conoce%20más%20en&url=https%3A%2F%2Fcuantohemosdonado.mx">Tweet</a>
    </div>
  </div>
  <div class="row">
    <div class="box col-md-6">
      <h5>Jesús Zambrano‏</h5>
      <p class="detail">PRD</p>
      <a class="twitter-share-button btn btn-default" target="_blank" href="https://twitter.com/intent/tweet?text=@Jesus_ZambranoG%20Yo%20ya%20doné.%20Ahora%20exijo%20soluciones%20para%20los%20damnificados%20y%20prevención%20para%20el%20futuro.%20Conoce%20más%20en&url=https%3A%2F%2Fcuantohemosdonado.mx">Tweet</a>
    </div>
  </div>
