// Colors
$color: #FF4B0A;
$blue: #4ABBE2;

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 66px;
  font-weight: bold;
}

h3 {
    line-height: 44px;
    font-size: 1.7rem;
}

h4 {
  font-size: 18px;
  line-height: 34px;
}

h5 {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 2vw;
    text-transform: uppercase;
}

body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  min-height: 100%;
  background: url(../img/bg-one.png) #000000 no-repeat;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 1.8rem;
    &.detail {
    font-size: 14px;
    margin: -30px 0 5px;
  }
}

a {
  color: $color;
  &:hover {
    color: lighten($color, 10%);
  }
}

// Buttons

.btn {
  border-radius: 2.3rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  padding: 1vw 2vw;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 1rem 2rem;
    font-size: 16px;
    border-radius: 2.3rem;
    letter-spacing: 3px;
}

.btn-primary {
    background-color: $color;
    border-color: $color;
    &:hover {
      background-color: darken($color, 10%);
      border-color: darken($color, 10%);
    }
}

.btn-secondary {
  background: white;
  border-color: white;
  color: black;
  &:hover {
    background-color: darken(white, 10%);
    border-color: darken(white, 10%);
    color: black;
  }
}

.btn-default {
    background: $blue;
    color: white;
    padding: 8px 20px;
    &:hover {
      background-color: darken($blue, 10%);
      border-color: darken($blue, 10%);
      color: white;
  }
}

// Hero

#hero {
    padding: 8vw 0;
}

#hero .btn-primary {
    margin: 4vw 0;
}

.text-color {
  color: $color;
}

.icons {
  margin: 6vw 0 10vw;
}


// What

#what {
  background: url(../img/bg-two.png) #000000 no-repeat;
  padding: 8vw 0;
}

// Share

.box {
  border: 3px solid white;
  padding: 2vw;
}

// Footer

footer {
    padding: 4vw 0;
    background: black;
}

footer svg {
    margin-bottom: -30px;
    margin-left: 30px;
}
