// Colors
$color: #FF4B0A;

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 66px;
  font-weight: bold;
}

h3 {
    line-height: 44px;
}

h5 {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 2vw;
}

body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  min-height: 100%;
  background: url(../img/bg-one.png) #000000 no-repeat;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

p {
    font-size: 16px;
    line-height: 32px;
}


// Buttons

.btn {
  border-radius: 2.3rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  padding: 1vw 2vw;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 1rem 2rem;
    font-size: 16px;
    border-radius: 2.3rem;
    letter-spacing: 3px;
}

.btn-primary {
    background-color: $color;
    border-color: $color;
    &:hover {
      background-color: darken($color, 10%);
      border-color: darken($color, 10%);

    }
}

.btn-secondary {
  background: white;
  border-color: white;
  color: black;
  &:hover {
    background-color: darken(white, 10%);
    border-color: darken(white, 10%);

  }
}

// Hero

#hero {
    padding: 8vw 0;
}

#hero .btn-primary {
    margin: 4vw 0;
}

#hero p {
  margin-bottom: 11vw;
}

.text-color {
  color: $color;
}

.help-us {
    padding: 4vw 0 4vw;
}

// What

#what {
  background: url(../img/bg-two.png) #000000 no-repeat;
  padding: 8vw 0;
}

// Footer

footer {
    padding: 4vw 0;
}
