<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <section id="hero">
      <div class="container">
        <h1 class="text-center">¿Donaste para el terremoto?</h1>
        <h2 class="text-center">Felicidades por tu generosidad y gracias por tu solidaridad</h2>
        <div class="text-center">
          <a class="btn btn-primary btn-lg" href="#" role="button">Cuéntanos que donaste</a>
        </div>
        <div class="row justify-content-around">
          <div class="col-md-8 text-center">
            <p>En los desastres la sociedad mexicana no duda, salta a las calles y envía ayuda a quien la necesita. Es tiempo de convertir esa impresionante y conmovedora energía en prevención, en un futuro con menos daños y más vidas a salvo. Regálanos 5 minutos para lograrlo.</p>
          </div>
        </div>
        <div class="text-center icons">
          <img src="{{ site.baseurl }}/img/icons.svg" alt="">
        </div>
        <div class="row justify-content-between">
          <div class="col-md-5">
            <h3 class="text-color">Necesitamos un nuevo esquema que comience con la reducción de daños y tragedias donde la solidaridad ciudadana sea un valor extra y no la base de la solución.y que después aproveche nuestra solidaridad. Necesitamos una mejor prevención.</h3>
          </div>
          <div class="col-md-5">
            <p>Los desastres nos cuestan mucho, y el costo se multiplica por tres. Primero, por las vidas que se pierden, los daños físicos y/o las afectaciones de patrimonio. Después,  por la ayuda, apoyo y donaciones que la sociedad brinda. Finalmente por nuestros impuestos que pagan las reconstrucciones.</p>
            <p>Para eso, primero, queremos ver como han donado los Mexicanos.</p>
            <a class="btn btn-secondary" href="#" role="button">Ayúdanos a difundir</a>
          </div>
        </div>
      </div>
    </section>
    <section id="what">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-5">
            <p>México es un país sísmico y ubicado entre dos zonas de huracanes. Cada año, estos fenómenos causan miles de pérdidas humanas y millones en pérdidas materiales. En los casos más trágicos, ante las dimensiones del desastre, la sociedad mexicana movida por su inigualable solidaridad se organiza y ayuda.</p>
            <p>En los recientes sismos del 7 y 19 de septiembre, millones de horas de voluntarios, miles de toneladas de herramienta, equipo, comida, medicinas y ropa fueron ofrecidas para rescatar gente, para apoyar a los damnificados y la inmediata reconstrucción de escuelas, vías de comunicación, casas y hospitales.</p>
            <p>Sin estas contribuciones los costos de los desastres serían peores. Simplemente no podríamos sobrellevarlos. La ayuda de la sociedad civil no sólo es un gesto imponente, es indispensable. Pero también es limitada.</p>
          </div>
          <div class="col-md-5">
            <p>Hoy sabemos que tan sólo estos dos terremotos han causado la pérdida de más de 60,000 viviendas, más de 2,000 escuelas presentan daños y más de un millón y medio de personas se han visto afectadas.  Si sumamos todo lo que la sociedad ha dado a lo que ha invertido el gobierno y agregamos los recursos que se usarán para la reconstrucción nos daremos cuenta del poder destructivo que actualmente tienen los fenómenos naturales.</p>
            <p>Es importante reconocer y poner en su justa dimensión todas las contribuciones de la sociedad, no sólo desde la perspectiva humana y como gesto de solidaridad, también en su dimensión económica. Es tiempo de convertir la poderosa solidaridad en las calles en un cambio: un país que prevenga más y con mayor capacidad de reacción. Uno que salve vidas, que ayude rápida y adecuadamente a quienes lo necesitan y que disminuya los efectos económicos, que siempre terminan impactando más, en los que menos tienen. </p>
          </div>

        </div>
    </section>

    {% include footer.html %}


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>

</html>
